.selector{
    width: 98.5vw;
    height: auto;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    background: linear-gradient(to bottom, #322fd08c, #3e00718a), url("./8b6698a852323f3.gif") no-repeat center;
    background-size: cover;
    background-position: center;
    margin-bottom: 5vh;
}

.projectText{
    margin-top: 15vh;
    color: white;
    font-size: 2vw;
    animation: blink .6s infinite step-end alternate;
}

.modalContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 55vh;
    width: 30vw;
    background-color: #3e00718a;
    translate: 0 -2.5vw;
    display: none;
}

@keyframes blink {
    50% {
        color: transparent;
        background: none;
    }
}

@media screen and (min-width: 1200px) {
    .modalContainer{
        display: flex;
    }
}