body{
  background-color: #2E0249;
  font-family: 'VT323', monospace;
  overflow-x: hidden;
}

main{
  min-height: 100vh;
  scroll-behavior: smooth;
}

h1{
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: 'VT323', monospace;
}

footer{
  background-color: black;
  padding: 1vw;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #2E0249;
}

body::-webkit-scrollbar-thumb {
  background: #570A57;
  border-radius: 10px;
}